<section id="tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <span
              class="nav-item nav-link active"
              id="nav-home-tab"
              data-toggle="tab"
              href="#"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
              >DANH MỤC DỊCH VỤ KỸ THUẬT</span
            >
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent"></div>
      </div>
    </div>
  </div>
</section>
