.navbar {
  padding: 2px 10px;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  padding: 3px 8px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  height: 93vh;
  overflow: scroll;
}

#content {
  width: 100%;
  height: 93vh;
}
#content > .mat-icon {
  cursor: pointer;
}

#sidebar.active {
  margin-left: -350px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #f8f9fa;
  color: rgb(41, 37, 37);
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 10px;
  background: #8f93a3;
  font-weight: bold;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #434447;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #84868f;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #84868f;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #84868f;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -350px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
/* 
.example-container .mat-drawer-content {
  overflow: hidden;
}

mat-tree {
  display: block;
  width: 100%;
}

mat-toolbar {
  padding: 3px;
}

.example-icon {
  padding: 0 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbarContent {
  background: #87ceeb;
}

.example-container {
  display: block;
  height: 93.5vh;
  margin: 0px;
  overflow: hidden;
}

.menuContent {
  width: 25%;
  height: 93.5vh;
  margin: 5px;
}

.mainContent {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-container {
  width: 100%;
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: block;
  height: 90vh;
  align-items: top;
  justify-content: center;
}

.example-sidenav {
  padding: 10px;
} */
